head{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

body{
  font-family: Arial, sans-serif;
}

header{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px 20px 0px 20px;
}

header h1{
  font-size: 50px;
  color: #009BCE;
  margin: 10px;
}

header img {
  height: 50px;
  width: 50px;
}

.divider {
  border: 0;
  height: 2px;
  background-color: #009BCE;
  margin: 0px 20px 0px 20px;
}

.subheader{
  font-size: 32px;
  font-weight: 500;
  color: #009BCE;
  margin: 30px 90px 20px 90px;
}

.select-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 150px 20px 150px;
}

input[type="checkbox"] {
  accent-color: #6949C9;
  margin: 5px 0px 5px 0px;
}

.number-input {
  display: none;
  margin: 5px 5px 5px 20px;
}

.number-input input[type="number"]:focus {
  outline: none;
  border: 2px solid #6949C9;
  box-shadow: 0 0 3px #6949C9;
}

button[type="submit"] {
  background-color: #6949C9;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}

.checkbox-group .number-input {
  display: none;
}

.checkbox-group.checked .number-input {
  display: block;
}

.filter{
  font-size: 18px;
  margin: 0px 150px 0px 150px;
}

ul{
  margin: 20px 0px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  margin: 20px 90px 20px 90px;
}

.card {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  border-radius: 8px;
  background-color: #fff;
}

.card img {
  display: block;
  margin: 8px auto 8px auto;
}

.card p {
  margin: 8px 0px 8px 0px;
  font-weight: bold;
  color: #009BCE;
}

.info-btn {
  width: 100%;
  margin: 8px auto 0;
  padding: 4px 8px;
  cursor: pointer;
  color: #fff;
  background-color: #009BCE;
  border: none;
  border-radius: 10px;
}

.card .info-btn:hover {
  background-color: #6949C9;
}

footer {
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 20px;
}

footer img {
  height: 50px;
  width: 50px;
}

footer p {
  font-size: 16px;
  margin-top: 10px;
}