head{
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

body{
  font-family: Arial, sans-serif;
}

header{
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0px 20px 0px 20px;
  border-bottom: 1px solid #009BCE;
}

header h1{
  font-size: 50px;
  color: #009BCE;
}

header img {
  height: 50px;
  width: 50px;
}

.subheader{
  font-size: 32px;
  font-weight: 500;
  color: #009BCE;
  margin: 20px 80px 20px 80px;
}

.select-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0px 150px 20px 150px;
}

input[type="checkbox"] {
  accent-color: #6949C9;
}

button[type="submit"] {
  background-color: #6949C9;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}

footer {
  display: flex;
  align-items:center;
  justify-content: space-between;
  padding: 20px;
  border-top: 1px solid #009BCE;
}

footer img {
  height: 50px;
  width: 50px;
}

footer p {
  font-size: 16px;
  margin-top: 10px;
}