<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Kinase Schrodinger Stack the Future 2026">
    <meta name="keywords" content="hackathon schrodinger">
    <title>

      {% block title %}
        MolecuFind
      {% endblock title %}

    </title>
    <link rel="icon"
          href='{{ url_for("static", filename="favicon.svg") }}'
          sizes="any">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <header>
      <img src="{{ url_for('static', filename='favicon.svg') }}" alt="Our Logo">
      <h1>MolecuFind</h1>
    </header>

    {% block content %}
    {% endblock %}
    
    <footer>
      <img src="{{ url_for('static', filename='favicon.svg') }}" alt="Our Logo">
      <p>Made by Kinase.</p>
    </footer>
  </body>
</html>
